@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test </title>
</head>
<body>
    <div>
        To: @ViewBag.To
        From: lolcats@website.com
        Subject: Important Message

        Hello,
        You wanted important web links right?
        Check out this: @ViewBag.FunnyLink


    </div>
</body>
</html>
