@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Model
@using Telerik.Sitefinity.DynamicModules.Model;

<!DOCTYPE html />
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href='~/ResourcePackages/BootstrapCustom/assets/dist/css/styles.min.css' type="text/css" />
</head>
<body>
    <h1>
        Bug tracker
    </h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
