@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;

    <div>
        @{
            
            var AuthenticateUrl = Request.Url.AbsoluteUri.ToString() + "/AuthenticateFacebook";
        }        

        @*<a href='@Html.ActionLink("AuthenticateFacebook")'>
            <img src="Mvc/Images/Facebook.png"  />  

       </a>*@      
    </div>